 /*para  telas de celulares maiores  */
@media(min-width: 100px){
  .nav ul{
    display: none;
  }
}
#img-center{
  display: none;
}
 @media(min-width:400px){
  .nav ul{
    display: none;
  }
  .titulo{
    width: 400px;
  }
  .bem-vindo{
    width: 330px;
    
  }
  #menu-toggle{
    font-size: 60px;
  }
  .discord{
    
  }
.axolotl{
 
}
@media(min-width:480px){
  .bem-vindo{
   
  }
}
}
@media(min-width:500px){
  .bem-vindo{
    
  }
  .axolotl{
    
  }
  .discord2 i{
   
  }
  .discord{
    width: 400px;
    
  }
}

@media(min-width: 550px){
  .bem-vindo{
    
  }
  .discord{
   
  }
  .axolotl{
    
  }
  .discord2 i{
   
  }
}
/* tabletes pequenos  */

@media(min-width:600px){
  .bem-vindo{
    
  }
  .discord{
    width: 500px;
    
  }
}

@media(min-width:700px){

  #menu-toggle{
    display: none;
  }
  .nav ul{
    display: flex;
  }
  .axolotl{
    width: 130px;
    
  }
}

/* Alinhamento do Tablete pequeno */

@media(min-width: 820px){
  .bem-vindo{
    
  }
}

@Media(min-width: 900px){
  
  .discord{
    width: 600px;
    
  }
}
@media(min-width:1000px){
  #img-center{
    display: inline-flex;
    width: 30vw;
    height: 15vh;
    position: relative;
    top: -30px;
    justify-content: center;
    align-items: center;
  }
  .titulo{
    display: none;
  }
  .bem-vindo{
    width: 30vw;
    max-width: 500px;
    margin-top: -50px;
  }
  .nav{
    position: relative;
    left: -40px;
  }
}